<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="wamv_multibeam_laser" params="name x:=0.5 y:=0 z:=2 R:=0 P:=0 Y:=0">
    <link name="${name}_link">
      <visual name="${name}_visual">>
        <geometry>
          <cylinder radius="0.025" length="0.1" />
        </geometry>
        <material name="${name}_visual_material">
          <color rgba="0.5 1.0 0.5 1.0" />
        </material>
      </visual>
    </link>
    <joint name="${name}_joint" type="fixed">
      <origin xyz="${x} ${y} ${z}" rpy="${R} ${P} ${Y}" />
      <parent link="base_link" />
      <child link="${name}_link" />
    </joint>
    
  </xacro:macro>
</robot>
